servers:
- url: https://api.azion.com/v4
openapi: 3.0.0
info:
  title: Azion API
  version: 4.0.0
  description: RESTful API to manage and interact with Azion products and services.
  license:
    name: MIT
    url: https://github.com/aziontech/azionapi-v4-openapi/blob/main/LICENSE
paths:
  /workspace/applications:
    get:
      operationId: list_applications
      description: List all Applications owned by your account.
      summary: List Applications
      parameters:
      - in: query
        name: active
        schema:
          type: boolean
        description: Filter by active status.
      - $ref: '#/components/parameters/FieldsParam'
      - in: query
        name: id
        schema:
          type: integer
        description: Filter by id (accepts comma-separated values).
      - in: query
        name: last_editor
        schema:
          type: string
        description: Filter by last editor (case-insensitive, partial match).
      - in: query
        name: last_modified__gte
        schema:
          type: string
          format: date-time
        description: Filter by last modified date (greater than or equal).
      - in: query
        name: last_modified__lte
        schema:
          type: string
          format: date-time
        description: Filter by last modified date (less than or equal).
      - in: query
        name: name
        schema:
          type: string
        description: Filter by name (case-insensitive, partial match).
      - $ref: '#/components/parameters/OrderingParam'
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      tags:
      - Applications
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedApplicationList'
          description: List of applications retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: create_application
      description: Create a new Application in your account.
      summary: Create an Application
      tags:
      - Applications
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppResponse'
          description: Application created successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}:
    get:
      operationId: retrieve_application
      description: Retrieve details of a specific Application in your account.
      summary: Retrieve details of an Application
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - $ref: '#/components/parameters/FieldsParam'
      tags:
      - Applications
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppResponse'
          description: Application details retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: update_application
      description: Update an existing Application. This replaces the entire Application
        with the new data provided.
      summary: Update an Application
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      tags:
      - Applications
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppResponse'
          description: Application updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: partial_update_application
      description: Update one or more fields of an existing Application without affecting
        other fields.
      summary: Partially update an Application
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      tags:
      - Applications
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchApplicationRequest'
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppResponse'
          description: Application partially updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: delete_application
      description: Delete a specific Application in your account.
      summary: Delete an Application
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      tags:
      - Applications
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: Application deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}/clone:
    post:
      operationId: clone_application
      description: Create a new Application by performing a deep copy of an existing
        Application, including its Cache Settings, Origins, Error Responses, Function
        Instances, and Rules Engine.
      summary: Clone an Application
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      tags:
      - Applications
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneApplicationRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppResponse'
          description: Application cloned successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}/cache_settings:
    get:
      operationId: list_cache_settings
      description: List all Cache Settings owned by your account.
      summary: List all Applications Cache Settings
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - $ref: '#/components/parameters/FieldsParam'
      - in: query
        name: id
        schema:
          type: integer
        description: Filter by id (accepts comma-separated values).
      - in: query
        name: name
        schema:
          type: string
        description: Filter by name (case-insensitive, partial match).
      - $ref: '#/components/parameters/OrderingParam'
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      tags:
      - Applications - Cache Settings
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCacheSettingList'
          description: List of cache settings retrieved successfully.
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: create_cache_setting
      description: Create a new Cache Setting in your account.
      summary: Create an Applications Cache Setting
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      tags:
      - Applications - Cache Settings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CacheSettingRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CacheSettingResponse'
          description: Cache setting created successfully.
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}/cache_settings/{cache_setting_id}:
    get:
      operationId: retrieve_cache_setting
      description: Retrieve details of a specific Cache Setting in your account.
      summary: Retrieve details of an Applications Cache Setting
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: cache_setting_id
        schema:
          type: integer
        description: A unique integer value identifying the cache setting.
        required: true
      - $ref: '#/components/parameters/FieldsParam'
      tags:
      - Applications - Cache Settings
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CacheSetting'
          description: Cache setting details retrieved successfully.
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: update_cache_setting
      description: Update an existing Cache Setting. This replaces the entire Cache
        Setting with the new data provided.
      summary: Update an Applications Cache Setting
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: cache_setting_id
        schema:
          type: integer
        description: A unique integer value identifying the cache setting.
        required: true
      tags:
      - Applications - Cache Settings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CacheSettingRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CacheSettingResponse'
          description: Cache setting updated successfully.
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: partial_update_cache_setting
      description: Update one or more fields of an existing Cache Setting without
        affecting other fields.
      summary: Partially update an Applications Cache Setting
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: cache_setting_id
        schema:
          type: integer
        description: A unique integer value identifying the cache setting.
        required: true
      tags:
      - Applications - Cache Settings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchCacheSettingRequest'
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CacheSettingResponse'
          description: Cache setting partially updated successfully.
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: delete_cache_setting
      description: Delete a specific Cache Setting in your account.
      summary: Delete an Applications Cache Setting
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: cache_setting_id
        schema:
          type: integer
        description: A unique integer value identifying the cache setting.
        required: true
      tags:
      - Applications - Cache Settings
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: Cache setting deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}/device_groups:
    get:
      operationId: list_device_groups
      description: List all Device Groups owned by your account.
      summary: List Applications Device Groups
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - $ref: '#/components/parameters/FieldsParam'
      - in: query
        name: id
        schema:
          type: integer
        description: Filter by id (accepts comma-separated values).
      - in: query
        name: name
        schema:
          type: string
        description: Filter by name (case-insensitive, partial match).
      - $ref: '#/components/parameters/OrderingParam'
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - in: query
        name: user_agent
        schema:
          type: string
        description: Filter by user agent (case-insensitive, partial match).
      tags:
      - Applications - Device Groups
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDeviGroupList'
          description: List of device groups retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: create_device_group
      description: Create a new Device Group in your account.
      summary: Create an Applications Device Group
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      tags:
      - Applications - Device Groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviGroupRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviGroupResponse'
          description: Device group created successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}/device_groups/{device_group_id}:
    get:
      operationId: retrieve_device_group
      description: Retrieve details of a specific Device Group in your account.
      summary: Retrieve details of a Device Group
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: device_group_id
        schema:
          type: integer
        description: A unique integer value identifying the device group.
        required: true
      - $ref: '#/components/parameters/FieldsParam'
      tags:
      - Applications - Device Groups
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviGroupResponse'
          description: Device group details retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: update_device_group
      description: Update an existing Device Group. This replaces the entire Device
        Group with the new data provided.
      summary: Update an Applications Device Group
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: device_group_id
        schema:
          type: integer
        description: A unique integer value identifying the device group.
        required: true
      tags:
      - Applications - Device Groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviGroupRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviGroupResponse'
          description: Device group updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: partial_update_device_group
      description: Update one or more fields of an existing Device Group without affecting
        other fields.
      summary: Partially update an Applications Device Group
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: device_group_id
        schema:
          type: integer
        description: A unique integer value identifying the device group.
        required: true
      tags:
      - Applications - Device Groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedDeviGroupRequest'
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviGroupResponse'
          description: Device group partially updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: delete_device_groups
      description: Delete a specific Device Group in your account.
      summary: Delete an Applications Device Group
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: device_group_id
        schema:
          type: integer
        description: A unique integer value identifying the device group.
        required: true
      tags:
      - Applications - Device Groups
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: Device group deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}/functions:
    get:
      operationId: list_application_function_instances
      description: List all Function Instances for a specific Application owned by
        your account.
      summary: List Function Instances
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - $ref: '#/components/parameters/FieldsParam'
      - in: query
        name: id
        schema:
          type: integer
        description: Filter by id (accepts comma-separated values).
      - in: query
        name: last_editor
        schema:
          type: string
        description: Filter by last editor (case-insensitive, partial match).
      - in: query
        name: last_modified__gte
        schema:
          type: string
          format: date-time
        description: Filter by last modified date (greater than or equal).
      - in: query
        name: last_modified__lte
        schema:
          type: string
          format: date-time
        description: Filter by last modified date (less than or equal).
      - in: query
        name: name
        schema:
          type: string
        description: Filter by name (case-insensitive, partial match).
      - $ref: '#/components/parameters/OrderingParam'
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      tags:
      - Applications - Function
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFunctionInstanList'
          description: List of application function instances retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: create_application_function_instance
      description: Create a new Function Instance for a specific Application in your
        account.
      summary: Create an Application Function Instance
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      tags:
      - Applications - Function
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunctionInstanRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionInstanResponse'
          description: Application function instance created successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}/functions/{function_id}:
    get:
      operationId: retrieve_application_function_instance
      description: Retrieve details of a specific Application Function Instance in
        your account.
      summary: Retrieve details of an Application Function Instance
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - $ref: '#/components/parameters/FieldsParam'
      - in: path
        name: function_id
        schema:
          type: integer
        description: A unique integer value identifying the function instance.
        required: true
      tags:
      - Applications - Function
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionInstanResponse'
          description: Application function instance details retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: update_application_function_instance
      description: Update an existing Application Function Instance. This replaces
        the entire Function Instance with the new data provided.
      summary: Update an Application Function Instance
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: function_id
        schema:
          type: integer
        description: A unique integer value identifying the function instance.
        required: true
      tags:
      - Applications - Function
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunctionInstanRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionInstanResponse'
          description: Application function instance updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: partial_update_application_function_instance
      description: Update one or more fields of an existing Application Function Instance
        without affecting other fields.
      summary: Partially update an Application Function Instance
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: function_id
        schema:
          type: integer
        description: A unique integer value identifying the function instance.
        required: true
      tags:
      - Applications - Function
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedFunctionInstanRequest'
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionInstanResponse'
          description: Application function instance partially updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: delete_application_function_instance
      description: Delete a specific Application Function Instance in your account.
      summary: Delete an Application Function Instance
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: function_id
        schema:
          type: integer
        description: A unique integer value identifying the function instance.
        required: true
      tags:
      - Applications - Function
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: Application function instance deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}/request_rules:
    get:
      operationId: list_application_request_rules
      description: List all Rules for a specific Application owned by your account.
      summary: List Application Request Rules
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - in: query
        name: description
        schema:
          type: string
        description: Filter by description (case-insensitive, partial match).
      - $ref: '#/components/parameters/FieldsParam'
      - in: query
        name: id
        schema:
          type: integer
        description: Filter by id (accepts comma-separated values).
      - in: query
        name: last_editor
        schema:
          type: string
        description: Filter by last editor (case-insensitive, partial match).
      - in: query
        name: last_modified__gte
        schema:
          type: string
          format: date-time
        description: Filter by last modified date (greater than or equal).
      - in: query
        name: last_modified__lte
        schema:
          type: string
          format: date-time
        description: Filter by last modified date (less than or equal).
      - in: query
        name: name
        schema:
          type: string
        description: Filter by name (case-insensitive, partial match).
      - in: query
        name: order__gte
        schema:
          type: integer
        description: Filter by order (greater than or equal).
      - in: query
        name: order__lte
        schema:
          type: integer
        description: Filter by order (less than or equal).
      - $ref: '#/components/parameters/OrderingParam'
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      tags:
      - Applications - Request Rules
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedReqRuleList'
          description: List of application request rules retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: create_application_request_rule
      description: Create a new Rule for a specific Application in your account.
      summary: Create an Application Request Rule
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      tags:
      - Applications - Request Rules
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReqRuleRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReqRuleResponse'
          description: Application request rule created successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}/request_rules/{request_rule_id}:
    get:
      operationId: retrieve_application_request_rule
      description: Retrieve details of a specific Rule in your account.
      summary: Retrieve details of an Application Request Rule
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - $ref: '#/components/parameters/FieldsParam'
      - in: path
        name: request_rule_id
        schema:
          type: integer
        description: A unique integer value identifying the request rule.
        required: true
      tags:
      - Applications - Request Rules
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReqRuleResponse'
          description: Application request rule details retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: update_application_request_rule
      description: Update an existing Rule. This replaces the entire Rule with the
        new data provided.
      summary: Update an Application Request Rule
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: request_rule_id
        schema:
          type: integer
        description: A unique integer value identifying the request rule.
        required: true
      tags:
      - Applications - Request Rules
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReqRuleRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReqRuleResponse'
          description: Application request rule updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: partial_update_application_request_rule
      description: Update one or more fields of an existing Application Rule  without
        affecting other fields.
      summary: Partially update an Application Request Rule
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: request_rule_id
        schema:
          type: integer
        description: A unique integer value identifying the request rule.
        required: true
      tags:
      - Applications - Request Rules
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchReqRuleRequest'
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReqRuleResponse'
          description: Application request rule partially updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: delete_application_request_rule
      description: Delete a specific Rule in your account.
      summary: Delete an Application Request Rule
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: request_rule_id
        schema:
          type: integer
        description: A unique integer value identifying the request rule.
        required: true
      tags:
      - Applications - Request Rules
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: Application request rule deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}/request_rules/order:
    put:
      operationId: update_application_request_rules_order
      description: Reoder all Rules for a specific Application owned by your account.
      summary: Ordering Application Request Rules
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - $ref: '#/components/parameters/SearchParam'
      tags:
      - Applications - Request Rules
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppReqRuleOrderRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedReqRuleList'
          description: Application request rules order updated successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}/response_rules:
    get:
      operationId: list_application_response_rules
      description: List all Rules for a specific Application owned by your account.
      summary: List Application Response Rules
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - in: query
        name: description
        schema:
          type: string
        description: Filter by description (case-insensitive, partial match).
      - $ref: '#/components/parameters/FieldsParam'
      - in: query
        name: id
        schema:
          type: integer
        description: Filter by id (accepts comma-separated values).
      - in: query
        name: last_editor
        schema:
          type: string
        description: Filter by last editor (case-insensitive, partial match).
      - in: query
        name: last_modified__gte
        schema:
          type: string
          format: date-time
        description: Filter by last modified date (greater than or equal).
      - in: query
        name: last_modified__lte
        schema:
          type: string
          format: date-time
        description: Filter by last modified date (less than or equal).
      - in: query
        name: name
        schema:
          type: string
        description: Filter by name (case-insensitive, partial match).
      - in: query
        name: order__gte
        schema:
          type: integer
        description: Filter by order (greater than or equal).
      - in: query
        name: order__lte
        schema:
          type: integer
        description: Filter by order (less than or equal).
      - $ref: '#/components/parameters/OrderingParam'
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      tags:
      - Applications - Response Rules
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRespRuleList'
          description: List of application response rules retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: create_application_response_rule
      description: Create a new Rule for a specific Application in your account.
      summary: Create an Application Response Rule
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      tags:
      - Applications - Response Rules
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RespRuleRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RespRuleResponse'
          description: Application response rule created successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}/response_rules/{response_rule_id}:
    get:
      operationId: retrieve_application_response_rule
      description: Retrieve details of a specific Rule in your account.
      summary: Retrieve details of an Application Response Rule
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - $ref: '#/components/parameters/FieldsParam'
      - in: path
        name: response_rule_id
        schema:
          type: integer
        description: A unique integer value identifying the response rule.
        required: true
      tags:
      - Applications - Response Rules
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReqRuleResponse'
          description: Application response rule details retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: update_application_response_rule
      description: Update an existing Rule. This replaces the entire Rule with the
        new data provided.
      summary: Update an Application Response Rule
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: response_rule_id
        schema:
          type: integer
        description: A unique integer value identifying the response rule.
        required: true
      tags:
      - Applications - Response Rules
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RespRuleRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RespRuleResponse'
          description: Application response rule updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: partial_update_application_response_rule
      description: Update one or more fields of an existing Application Rule  without
        affecting other fields.
      summary: Partially update an Application Response Rule
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: response_rule_id
        schema:
          type: integer
        description: A unique integer value identifying the response rule.
        required: true
      tags:
      - Applications - Response Rules
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchRespRuleRequest'
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RespRuleResponse'
          description: Application response rule partially updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: delete_application_response_rule
      description: Delete a specific Rule in your account.
      summary: Delete an Application Response Rule
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: response_rule_id
        schema:
          type: integer
        description: A unique integer value identifying the response rule.
        required: true
      tags:
      - Applications - Response Rules
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: Application response rule deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}/response_rules/order:
    put:
      operationId: update_application_response_rules_order
      description: Reoder all Rules for a specific Application owned by your account.
      summary: Ordering Application Response Rules
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
        description: A unique integer value identifying the application.
        required: true
      - $ref: '#/components/parameters/SearchParam'
      tags:
      - Applications - Response Rules
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppRespRuleOrderRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRespRuleList'
          description: Application response rules order updated successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/connectors:
    get:
      operationId: list_connectors
      description: List all Connectors owned by your account.
      summary: List Connectors
      parameters:
      - in: query
        name: active
        schema:
          type: boolean
        description: Filter by active status.
      - $ref: '#/components/parameters/FieldsParam'
      - in: query
        name: id
        schema:
          type: integer
        description: Filter by id (accepts comma-separated values).
      - in: query
        name: last_editor
        schema:
          type: string
        description: Filter by last editor (case-insensitive, partial match).
      - in: query
        name: last_modified__gte
        schema:
          type: string
          format: date-time
        description: Filter by last modified date (greater than or equal).
      - in: query
        name: last_modified__lte
        schema:
          type: string
          format: date-time
        description: Filter by last modified date (less than or equal).
      - in: query
        name: name
        schema:
          type: string
        description: Filter by name (case-insensitive, partial match).
      - $ref: '#/components/parameters/OrderingParam'
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - in: query
        name: type__in
        schema:
          type: string
        description: Filter by type (accepts comma-separated values).
      tags:
      - Connectors
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedConnectorList'
          description: List of connectors retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: create_connector
      description: Create a new Connector in your account.
      summary: Create an Connector
      tags:
      - Connectors
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorRequest2'
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorResponse'
          description: Connector created successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/connectors/{connector_id}:
    get:
      operationId: retrieve_connector
      description: Retrieve details of a specific Connector in your account.
      summary: Retrieve details of an Connector
      parameters:
      - in: path
        name: connector_id
        schema:
          type: integer
        description: A unique integer value identifying the connector.
        required: true
      - $ref: '#/components/parameters/FieldsParam'
      tags:
      - Connectors
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorResponse'
          description: Connector details retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: update_connector
      description: Update an existing Connector. This replaces the entire Connector
        with the new data provided.
      summary: Update an Connector
      parameters:
      - in: path
        name: connector_id
        schema:
          type: integer
        description: A unique integer value identifying the connector.
        required: true
      tags:
      - Connectors
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorRequest2'
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorResponse'
          description: Connector updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: partial_update_connector
      description: Update one or more fields of an existing Connector without affecting
        other fields.
      summary: Partially update an Connector
      parameters:
      - in: path
        name: connector_id
        schema:
          type: integer
        description: A unique integer value identifying the connector.
        required: true
      tags:
      - Connectors
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchConnectorRequest'
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorResponse'
          description: Connector partially updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: delete_connector
      description: Delete a specific Connector in your account.
      summary: Delete an Connector
      parameters:
      - in: path
        name: connector_id
        schema:
          type: integer
        description: A unique integer value identifying the connector.
        required: true
      tags:
      - Connectors
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: Connector deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/custom_pages:
    get:
      operationId: list_custom_pages
      description: List all Custom Pages owned by your account.
      summary: List Custom Pages
      parameters:
      - in: query
        name: active
        schema:
          type: boolean
        description: Filter by active status.
      - $ref: '#/components/parameters/FieldsParam'
      - in: query
        name: id
        schema:
          type: integer
        description: Filter by id (accepts comma-separated values).
      - in: query
        name: last_editor
        schema:
          type: string
        description: Filter by last editor (case-insensitive, partial match).
      - in: query
        name: last_modified__gte
        schema:
          type: string
          format: date-time
        description: Filter by last modified date (greater than or equal).
      - in: query
        name: last_modified__lte
        schema:
          type: string
          format: date-time
        description: Filter by last modified date (less than or equal).
      - in: query
        name: name
        schema:
          type: string
        description: Filter by name (case-insensitive, partial match).
      - $ref: '#/components/parameters/OrderingParam'
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      tags:
      - Custom Pages
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCustomPageList'
          description: List of custom pages retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: create_custom_page
      description: Create a new Custom Page in your account.
      summary: Create a Custom Page
      tags:
      - Custom Pages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPageRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPageResponse'
          description: Custom page created successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/custom_pages/{custom_page_id}:
    get:
      operationId: retrieve_custom_page
      description: Retrieve details of a specific Custom Page in your account.
      summary: Retrieve details of a Custom Page
      parameters:
      - in: path
        name: custom_page_id
        schema:
          type: integer
        description: A unique integer value identifying the custom page.
        required: true
      - $ref: '#/components/parameters/FieldsParam'
      tags:
      - Custom Pages
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPageResponse'
          description: Custom page details retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: update_custom_page
      description: Update an existing Custom Page. This replaces the entire Custom
        Page with the new data provided.
      summary: Update a Custom Page
      parameters:
      - in: path
        name: custom_page_id
        schema:
          type: integer
        description: A unique integer value identifying the custom page.
        required: true
      tags:
      - Custom Pages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPageRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPageResponse'
          description: Custom page updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: partial_update_custom_page
      description: Update one or more fields of an existing Custom Page without affecting
        other fields.
      summary: Partially update a Custom Page
      parameters:
      - in: path
        name: custom_page_id
        schema:
          type: integer
        description: A unique integer value identifying the custom page.
        required: true
      tags:
      - Custom Pages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchCustomPageRequest'
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPageResponse'
          description: Custom page partially updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: delete_custom_page
      description: Delete a specific Custom Page in your account.
      summary: Delete a Custom Page
      parameters:
      - in: path
        name: custom_page_id
        schema:
          type: integer
        description: A unique integer value identifying the custom page.
        required: true
      tags:
      - Custom Pages
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: Custom page deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/dns/zones/{zone_id}/dnssec:
    get:
      operationId: retrieve_dnssec
      description: Retrieve details of a specific DNSSEC from a DNS Zone in your account.
      summary: Retrieve details of a DNSSEC
      parameters:
      - $ref: '#/components/parameters/FieldsParam'
      - in: path
        name: zone_id
        schema:
          type: integer
        description: A unique integer value identifying the DNS Zone.
        required: true
      tags:
      - DNS - DNSSEC
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DNSSResponse'
          description: DNSSEC details retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: update_dnssec
      description: Update an existing a DNSSEC. This replaces the entire DNSSEC with
        the new data provided.
      summary: Update a DNSSEC
      parameters:
      - in: path
        name: zone_id
        schema:
          type: integer
        description: A unique integer value identifying the DNS Zone.
        required: true
      tags:
      - DNS - DNSSEC
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DNSSRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DNSSResponse'
          description: DNSSEC updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: partial_update_dnssec
      description: Update one or more fields of an existing DNSSEC without affecting
        other fields.
      summary: Partially update a DNSSEC
      parameters:
      - in: path
        name: zone_id
        schema:
          type: integer
        description: A unique integer value identifying the DNS Zone.
        required: true
      tags:
      - DNS - DNSSEC
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedDNSSRequest'
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DNSSResponse'
          description: DNSSEC partially updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/dns/zones/{zone_id}/records:
    get:
      operationId: list_dns_records
      description: List all DNS Records from a DNS Zone owned by your account.
      summary: List DNS Records
      parameters:
      - $ref: '#/components/parameters/FieldsParam'
      - $ref: '#/components/parameters/OrderingParam'
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - in: path
        name: zone_id
        schema:
          type: integer
        description: A unique integer value identifying the DNS Zone.
        required: true
      tags:
      - DNS - Records
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRecordList'
          description: List of DNS records retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: create_dns_record
      description: Create a new DNS Record in a DNS Zone for your account.
      summary: Create a DNS Record
      parameters:
      - in: path
        name: zone_id
        schema:
          type: integer
        description: A unique integer value identifying the DNS Zone.
        required: true
      tags:
      - DNS - Records
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordResponse'
          description: DNS record created successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/dns/zones/{zone_id}/records/{record_id}:
    get:
      operationId: retrieve_dns_record
      description: Retrieve details of a specific DNS Record from a DNS Zone in your
        account.
      summary: Retrieve details of a DNS Record
      parameters:
      - $ref: '#/components/parameters/FieldsParam'
      - in: path
        name: record_id
        schema:
          type: integer
        description: A unique integer value identifying the DNS Record.
        required: true
      - in: path
        name: zone_id
        schema:
          type: integer
        description: A unique integer value identifying the DNS Zone.
        required: true
      tags:
      - DNS - Records
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordResponse'
          description: DNS record details retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: update_dns_record
      description: Update an existing a DNS Record. This replaces the entire DNS Record
        with the new data provided.
      summary: Update a DNS Record
      parameters:
      - in: path
        name: record_id
        schema:
          type: integer
        description: A unique integer value identifying the DNS Record.
        required: true
      - in: path
        name: zone_id
        schema:
          type: integer
        description: A unique integer value identifying the DNS Zone.
        required: true
      tags:
      - DNS - Records
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordResponse'
          description: DNS record updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: partial_update_dns_record
      description: Update one or more fields of an existing DNS Record without affecting
        other fields.
      summary: Partially update a DNS Record
      parameters:
      - in: path
        name: record_id
        schema:
          type: integer
        description: A unique integer value identifying the DNS Record.
        required: true
      - in: path
        name: zone_id
        schema:
          type: integer
        description: A unique integer value identifying the DNS Zone.
        required: true
      tags:
      - DNS - Records
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchRecordRequest'
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordResponse'
          description: DNS record partially updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: delete_dns_record
      description: Delete a specific DNS Record from a DNS Zone in your account.
      summary: Delete a DNS Record
      parameters:
      - in: path
        name: record_id
        schema:
          type: integer
        description: A unique integer value identifying the DNS Record.
        required: true
      - in: path
        name: zone_id
        schema:
          type: integer
        description: A unique integer value identifying the DNS Zone.
        required: true
      tags:
      - DNS - Records
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: DNS record deletion accepted and processing asynchronously.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/dns/zones:
    get:
      operationId: list_dns_zones
      description: List all DNS Zones owned by your account.
      summary: List DNS Zones
      parameters:
      - in: query
        name: active
        schema:
          type: boolean
        description: Filter by active status.
      - in: query
        name: domain
        schema:
          type: string
        description: Filter by domain (exact match).
      - $ref: '#/components/parameters/FieldsParam'
      - in: query
        name: name
        schema:
          type: string
        description: Filter by name (exact match).
      - $ref: '#/components/parameters/OrderingParam'
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      tags:
      - DNS - Zones
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedZoneList'
          description: List of DNS zones retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: create_dns_zone
      description: Create a new DNS Zone for your account.
      summary: Create a DNS Zone
      tags:
      - DNS - Zones
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZoneRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneResponse'
          description: DNS zone created successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/dns/zones/{zone_id}:
    get:
      operationId: retrieve_dns_zone
      description: Retrieve details of a specific DNS Zone in your account.
      summary: Retrieve details of a DNS Zone
      parameters:
      - $ref: '#/components/parameters/FieldsParam'
      - in: path
        name: zone_id
        schema:
          type: integer
        description: A unique integer value identifying the DNS Zone.
        required: true
      tags:
      - DNS - Zones
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneResponse'
          description: DNS zone details retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: update_dns_zone
      description: Update an existing a DNS Zone. This replaces the entire DNS Zone
        with the new data provided.
      summary: Update a DNS Zone
      parameters:
      - in: path
        name: zone_id
        schema:
          type: integer
        description: A unique integer value identifying the DNS Zone.
        required: true
      tags:
      - DNS - Zones
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateZoneRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneResponse'
          description: DNS zone updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
[...]
